<div class="jumbotron jubmotron-fluid">
  <div class="container">
    <% if Couplet.exists?  %>
      <h1><%= simple_format(@couplet.couplet) %> </h1>
      <p>	<%= Poet.find(@couplet.poet_id).name  %>  </p>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>اردو شاعری کی دلچسپ اور بہترین ویب سائٹس</p>
  </div>
  <div class="row">
    <ul>
      <li>
        <a href="https://sukhansara.com/" target="_blank">سخن سرا</a>
      </li>
      <li>
        <a href="http://www.rekhta.org" target="_blank">ریختہ</a>
      </li>
    </ul>
  </div> 
</div>


