<h1>خوش آمدید</h1>

<h2>منتخب شاعر اور شعر</h2>
<%= Poet.find(@couplet.poet_id).name %> 
<%= simple_format(@couplet.couplet) %> 
<hr />
<p>میرے پسندیدہ شعراء اور ان کا کلام</p>
<ul>
<li> <%= link_to 'اشعار', couplets_path %></li>
<li><%= link_to 'شعراء', poets_path %></li>
</ul>

<h3>اردو شاعری کی دلچسپ اور بہترین ویب سائٹس</h3>
<ul>
	<li>
<a href="https://sukhansara.com/" target="_blank">سخن سرا</a>
	</li>	
	<li>
<a href="http://www.rekhta.org" target="_blank">ریختہ</a>
	</li>
</ul>

