p{
	font-family: 'Jameel Noori Nastaleeq';
	src:font-url('JameelNooriNastaleeq.ttf') format("truetype");
	float:right;
	direction: rtl;

}

a{
	font-family: 'Jameel Noori Nastaleeq';
	src:font-url('JameelNooriNastaleeq.ttf') format("truetype");
}



@import 'bootstrap';
@import 'welcome';
@import 'couplets';
@import 'scaffolds';

