@import 'bootstrap';
@import 'welcome';
@import 'couplets';
@import 'scaffolds';

p{
	font-family: 'Jameel Noori Nastaleeq';
	src:font-url('JameelNooriNastaleeq.ttf') format("truetype");
}

a{
	font-family: 'Jameel Noori Nastaleeq';
	src:font-url('JameelNooriNastaleeq.ttf') format("truetype");
	padding: 6px 12px;
	color:blue !important;
}

.navbar-text, a {
  font-size: 30px !important;
}
