// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: 'Jameel Noori Nastaleeq';
  font-size: 22px;
  line-height: 32px;
	src:font-url('JameelNooriNastaleeq.ttf') format("truetype");
}


p, ol, ul, td {
  font-family: 'Jameel Noori Nastaleeq';
  font-size: 22px;
  line-height: 32px;
//  margin: 33px;
	text-align: right;
}

